__pycache__/action_sequence.cpython-314.pyc
__pycache__/animation.cpython-314.pyc
__pycache__/boxes.cpython-314.pyc
__pycache__/cats.cpython-314.pyc
__pycache__/cursor.cpython-314.pyc
__pycache__/enemys.cpython-314.pyc
__pycache__/inventory.cpython-314.pyc
test.py
__pycache__/ability.cpython-314.pyc
__pycache__/effects.cpython-314.pyc
